body{
    background-size: cover;
}
h1{
	margin-right: 850px;
	margin-left: 100px ;
	font-size: 70px;
	background-color: yellow ;
}
form{
	margin-right: 100px;
	margin-left: 1530px;
	border-style: solid;
	border-color: blue;
	border-width: 5px;
	border-spacing: 20px;
}
input{
	margin-left: 30px;
}
button{
	color: red;
	margin-left: 60px;
}
h3{
	margin-left: 190px;
	margin-top: 40px;
}
.box {
    float: center;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    clear: both;
    background-color: black;
}
.Form {
    font-size: 25px;
}
.Form input {
    font-size: 15px;
}
.Form button {
    font-size: 25px;
}
